.discount{
    padding: 12px !important;
    margin-left: 3px;
    margin-right: 3px;
        width: 110px;
    height: 40px;
}
/*.discount_percent{*/
/*   margin-right: 13px;*/
/*}*/
.pos .popup.popup-number {
    width: 360px !important;
    height: 540px !important;
}
.pos .popup-numpad .input-button, .pos .popup-numpad .mode-button{
    height: 55px !important;
    width: 55px !important;
}