.discount {
    padding: 12px !important;
    width: 127px;
    height: 40px;
    margin-bottom: 15px;
}

.discount_percent{
  border-radius: 1px 0 0 1px !important;
}
.discount_amount{
   border-radius: 0 1px 1px 0 !important;
}


.pos .popup-numpad {
    width: 280px !important;
}

.popup-discount {
    height: 538px !important;
}